{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Reset {% endblock %}
{% block content %} 
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow my-3">
                <div class="card-body">
                    <h3>Forget Password</h3>
                    <hr>
                    <div class="alert alert-success">
                        your password reset has been succefful
                    </div>
                    <a href="{% url 'users-login'%}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
